/*=================================================
#0.9 tp-case-area
===================================================*/
.section-title2 {
  margin-bottom: 90px;
}

.section-title2 .thumb-text {
  margin: auto;
}

.section-title2 h2 {
  margin-bottom: 30px;
}

.cause-top {
  padding: 30px 20px;
  padding-bottom: 50px;
}

.cause-text {
  padding: 20px;
  padding-top: 0;
  text-align: center;
}

.cause-text li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 20px;
}

.cause-text ul li a {
  padding: 10px 80px;
  border: 2px solid #fff;
  /* background-color: #fdd42d; */
  border-radius: 5px;
  /* margin-right: 15px; */
  /* border-radius: 5px; */
  color: rgb(5, 5, 5);
  font-weight: 500;
  width: 100%;
}

.cause-item {
  position: relative;
  margin-bottom: 30px;
}

.cause-text .cause-donation-target h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 20px;
}

.cause-donation-target {
  margin-top: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding: 20px;
}

@media (max-width: 1500px) {
  .cause-text h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.cause-text h3 a {
  color: #c3bfbf;
}

.cause-text h3 a:hover {
  color: #fdd42d;
}

.cause-item:hover:before {
  height: 100%;
}

.cause-item:hover:after {
  height: 100%;
}

/* .cause-top,
.cause-text {
  position: relative;
} */

.cause-item:hover .cause-top:after,
.cause-item:hover .cause-text:after {
  width: 100%;
}

.cause-img {
  position: relative;
  text-align: center;
  margin: auto;
  width: 305px;
  height: 305px;
}

.cause-img img {
  width: 100%;

  transition: all 0.8s;
}

.cause-img:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  /* background: rgba(30, 30, 30, 0.8); */
  /* border-radius: 50%; */
  /* opacity: 0;
  visibility: hidden;
  transition: all 0.5s; */
}

/* TODO: cleanup */

.cause-item:hover .cause-img:before {
  opacity: 1;
  visibility: visible;
}

.case-btn .theme-btn {
  padding: 11px 22px;
  font-size: 14px;
}

.theme-btn i {
  position: absolute;
  right: 30px;
  top: -50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.case-btn {
  position: relative;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* opacity: 0; */
  /* visibility: hidden; */
  transition: all 0.6s;
  margin-bottom: 50px;
}

/* .cause-item:hover .case-btn {
  opacity: 1;
  visibility: visible;
} */
/* NOTE: opacity on hover */
.case-area {
  padding-bottom: 70px;
  background: #fff;
}

@media (max-width: 991px) {
  .cause-text h3 {
    font-size: 18px;
  }

  .cause-text ul li a {
    padding: 10px 15px;
  }
}

@media (max-width: 420px) {
  .cause-img {
    width: 250px;
    height: 250px;
  }

  .cause-img img {
    width: 250px;
    height: 250px;
  }

  .cause-text ul li a {
    padding: 10px 10px;
    font-size: 14px;
  }

  .section-title2 {
    margin-bottom: 50px;
  }
}
