.features-icon i.ri {
  background: #f5f5f5;
  padding: 57px 70px 30px 56px;
  transition: all 0.5s;
}

ul {
  list-style: none;
}

.col-d {
  padding: 0;
}

.features-area {
  padding: 30px 0 0;
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
}

.features-area .features-item {
  overflow: hidden;
}

.features-area .features-icon {
  margin-top: 0;
  float: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.features-area .features-item-2 {
  margin-bottom: 30px;
  padding: 20px 0 25px;
  background: #fdd42d;
}

.features-content h3 {
  color: #474350;
  font-size: 24px;
  margin-top: 5px;
}

.features-area .features-content p {
  font-size: 16px;
  color: #898888;
}

.features-area .features-icon i {
  padding: 0;
  width: 100px;
  height: 90px;
  line-height: 85px;
  text-align: center;
  margin-right: 20px;
  color: #474350;
  margin-left: 15px;
}

.features-area .features-content p {
  margin-bottom: 0px;
}

.features-content {
  overflow: hidden;
  margin-top: 15px;
}

.col-p {
  padding-left: 0;
}

@media (max-width: 1200px) {
  .features-content h3 {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .features-content h3 {
    font-size: 18px;
  }
}

.features-area-2 .features-item-2 {
  margin-bottom: 30px;
  padding: 30px 0 25px;
  text-align: center;
  border-radius: 10px;
}

.features-area-2 .features-icon {
  margin-top: 0;
  float: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.features-area-2 .features-icon i.ri {
  width: 100px;
  height: 100px;
  background: #e9ecef;
  line-height: 100px;
  margin-right: 0px;
  color: #212529;
  margin-left: 0px;
  margin: 0 auto;
  border-radius: 50%;
}
